/* @group General styles */

/* Harmonise v1.3
 * Resets styles then adds basic typographical styling.
 * Use as a starting point upon which to build more CSS.
 * By Clearleft.com */

/* @group Reset */

@import "compass/reset";

/* @end */

body {
  background: white;
  color: black;
  font-size: 14px;
  line-height: 1.2em; }

a:link,
button.link span {
  color: #0063dc;
  text-decoration: underline; }

a:visited {
  color: #1057ae;
  text-decoration: underline; }

a:hover,
a:focus,
button.link:hover,
button.link:focus span {
  color: white;
  text-decoration: none;
  background-color: #0063dc; }

a:active,
button.link:active span {
  color: white;
  text-decoration: none;
  background-color: #0259c4; }

/* @group Font families */

body {
  font-family: "andale mono", monospace;
  text-transform: uppercase; }

pre, code, kbd, tt, samp, tt {
  font-family: "andale mono", monospace; }

/* @end */

/* @group Font sizes & margins */

p, ul, ol, dl, address, table, pre, form, fieldset {
  color: red;
  font-size: 0.7em;
  margin-bottom: 0.2em; }

DIV#page1 > DIV > P {
  color: white; }

/* size headings using classic scale of 16, 18, 24, 36 */

/* @end */

/* @group Headings */

h1 {
  font-size: 2.571em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 0.167em;
  margin-bottom: 0.583em; }

h1 span {
  font-size: 0.5em;
  line-height: 1;
  color: #999999;
  display: block;
  margin-bottom: 0.3em; }

h2, h3 {
  font-size: 1.143em;
  margin-top: 0;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
/* text-align: center; */
/* border-bottom: 1px solid #999999; */
  }

h4 {
  margin-top: 1em;
  font-size: 1em;
  margin-bottom: 0.5em; }

h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em; }

/* @end */

/* @group Lists */

ul {
  list-style-type: disc;
  margin-left: 1.5em;
  /* 21px */ }

ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  /* 21px */ }

dt {
  font-weight: bold;
  margin-top: 1.5em;
  /* 21px */ }

ul ul, ol ol, ol ul, ul ol {
  margin-bottom: 0; }

/* @end */

/* @group Tables */

table {
  border-bottom: 1px solid #c7c7c7; }

caption {
  font-weight: bold;
  padding-bottom: 0.438em;
  /* 7px */
  font-size: 1.144em;
  /* 16px */ }

thead th {
  border-bottom: 3px solid #c7c7c7;
  padding-top: 0;
  padding-bottom: 0.5em;
  /* 7px */ }

tbody {
  border-top: 3px solid #c7c7c7;
  /* not rendered in IE6/7 */ }

tbody tr th, tbody tr td {
  border-top: 1px solid #c7c7c7; }

th, td {
  text-align: left;
  padding: 0.286em 0.5em 0.214em 0.5em;
  /* 4px 7px 3px 7px */ }

/* @end */

/* @group Blockquotes */

blockquote {
  font-style: italic;
  margin: 0 0 0 0;
  /* 21px */
  color: #999999; }

p+p+blockquote {
  margin-top: 1.5em; }

blockquote cite,
blockquote em {
  font-style: normal; }

/* @end */

/* @group Other styling */

address {
  font-style: normal; }

ins {
  text-decoration: underline;
  color: #27ad16; }

del {
  text-decoration: line-through;
  color: #b60d10; }

pre {
  white-space: pre;
  width: 100%;
  font-size: 0.7em;
  text-transform: none;
  color: blue;
  overflow: hidden;
  letter-spacing: -0.3px;
  word-spacing: -3px;
  /* border-top: 3px double #c7c7c7; */
  /* border-bottom: 3px double #c7c7c7; */
  padding: 0 0 0.8em 0; }

hr {
  border: none;
  background-color: black;
  height: 1px; }

/* @end */

/* @end */

/* @group Helper styles */

/* @group Forms */

/* @group Containers */

form .container {
  margin-bottom: 1.5em;
  /* 21px */ }

/* @group Fieldsets */

fieldset {
  border: 1px solid #cccccc;
  padding: 0 1.5em 1em 1.5em;
  /* 0 21px 14px 21px */ }

legend {
  font-weight: bold; }

form fieldset .container {
  margin-top: 1em;
  /* 14px */
  margin-bottom: 0;
  position: relative; }

/* @end */

/* @end */

/* @group Labels */

label {
  font-weight: bold;
  cursor: pointer; }

.meta-label {
  font-weight: bold;
  margin-bottom: 0; }

.multi-container label,
.radio-container label,
.checkbox-container label {
  font-weight: normal; }

.radio-container label,
.checkbox-container label {
  display: block; }

.compact label {
  display: inline; }

/* @end */

/* @group Meta */

form .help {
  display: block;
  color: #777777;
  font-style: normal;
  font-size: 0.857em;
  /* 12px */ }

/* @end */

/* @group Form controls */

input, textarea, select, button {
  font-family: inherit;
  font-size: 1em;
  line-height: inherit; }

select {
  background-color: white;
  /* fixes bug in Opera which inherits bgcolor from container */ }

textarea,
input[type='text'],
input[type='password'],
select {
  border-width: 1px;
  border-style: solid;
  border-top-color: #999999;
  border-left-color: #999999;
  border-bottom-color: #cccccc;
  border-right-color: #cccccc;
  padding: 0 1px 1px 1px; }

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
select:focus {
  border-color: #888888;
  outline: 2px solid #ffffaa; }

input.short {
  width: 4em; }

input.medium, textarea.medium {
  width: 12em; }

input.long, textarea.long {
  width: 30em; }

textarea {
  width: 99%;
  display: block; }

button {
  overflow: visible;
  cursor: pointer; }

.button-container input {
  font-weight: bold; }

.button-container input.cancel {
  font-weight: normal; }

button.link {
  border: 0;
  padding: 0;
  background-color: white;
  font-weight: normal;
  cursor: pointer;
  width: auto;
  overflow: visible; }

/* accessibility feature, resize check and radio inputs */

.radio-container input,
.checkbox-container input {
  width: 1em;
  height: 1em; }

/* @end */

/* @end */

.amp {
  font-family: "Bell MT", "Adobe Caslon Pro", "Goudy Old Style";
  font-style: italic;
  font-size: 1.3em;
  line-height: 0.7;
  margin: 0 0.2em 0 0.1em; }

/* @end */

/* @group Page structure */

#book {
  margin: 10px;
  overflow: hidden; }

.page {
  width: 241px;
  height: 370px;
  overflow: hidden;
  outline: 1px solid #c7c7c7;
  float: left;
  margin: 10px;
  position: relative; }

DIV#page1, DIV#page8 {
  background-color: blue; }

.inner {
  margin: 15px; }

.footer {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 201px;
  padding: 5px;
  font-size: 0.5em; }

/* @end */

/* @group Page Components */

/* @group Page Types */
/* class on page */

.lines {
  background-image: url(../img/lines.gif);
  background-repeat: repeat-y;
  background-position: 15px 1em; }

.squares {}

.isometric {}

/* @end */

/* @group Page Elements */

/* @group Todo list */

.todo {
  padding-left: 0;
  margin-left: 0; }

.todo li {
  border-bottom: 1px solid #c7c7c7;
  background-image: url(../img/check.gif);
  background-repeat: no-repeat;
  background-position: 0 0.3em;
  list-style-type: none;
  margin: 0.35em 0 0 0;
  padding: 0 0 0.35em 15px; }

/* @end */

.micro p,
.micro h3,
.micro h4,
.micro h5,
.micro h6,
h3.micro,
h4.micro,
h5.micro,
h6.micro,
p.micro,
span.micro {
  font-size: 0.7em;
  line-height: 1.5em;
  display: block; }

/* @end */

/* @end */

/* @group Overrides */

/* @end */

