@import "compass/css3/transform";

$pageheight: 242px;
$plateheight: $pageheight * 4 + 1px; // 969px
$platewidth: 743px;

#book {
	position: relative;
	overflow: visible;
	height: $plateheight;
	width: $platewidth;
	margin: 0;
	border: 1px solid #C7C7C7;
}

.page {
	position: absolute;
	float: none;
	margin: 0;
}

/* rotated left */

#page1, #page8, #page7, #page6 {
	@include transform( translate(64.5px, -64.5px) rotate(-90deg) );
//	@include transform( rotate(90deg) scale(0.6) skew(-23deg) );
}

/* rotated right */

#page2, #page3, #page4, #page5 {
	@include transform( translate(64.5px, -64.5px) rotate(90deg) );
}

/* cover */

#page1 {
	top: 1px;
	left: 2px;
}

#page2 {
	top: 0;
	right: 1px;
}

#page3 {
	top: $pageheight;
	right: 1px;
}

#page4 {
	top: $pageheight * 2;
	right: 1px;
}

#page5 {
	top: $pageheight * 3;
	right: 1px;
}

#page6 {
	top: $pageheight * 3 + 1px;
	left: 2px;
}

#page7 {
	top: $pageheight * 2 + 1px;
	left: 2px;
}

/* back page */

#page8 {
	top: $pageheight + 1px;
	left: 2px;
}
